@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-green: #006d77;
  --secondary-green: #83c5be;
  --dark-grey: #222222;
  --errors: #b40202;
}

body {
  background: #000;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}